Approach
- Implement and test steps with datasets from TidyTuesday [repo](https://github.com/rfordatascience/tidytuesday)

In [3]:
import pandas as pd

# Import

In [32]:
fp = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-12/artwork.csv'

def read(fp, **kwargs):
    """Read data"""

    print("usecols" in kwargs)
    
    if 'usecols' in kwargs:
        print(kwargs['usecols'].values())
    
    
#     dtypes = {key: dtype for key, (dtype, name) in columns.items()}
#     newnames = {key: name for key, (dtype, name) in columns.items()}
#     df = pd.read_csv(path, usecols=columns, dtype=dtypes, **kwargs)  
#     df = df.rename(columns=newnames)
    
    df = pd.read_csv(fp, **kwargs)
    return df


columns = {
    'id': ['str', 'idnum'],
    'artist': ['str', 'artist']
}

df = read(fp, nrows=10, usecols=columns)
df

True
dict_values([['str', 'idnum'], ['str', 'artist']])

     id          artist
0  1035   Blake, Robert
1  1036   Blake, Robert
2  1037   Blake, Robert
3  1038   Blake, Robert
4  1039  Blake, William
5  1040  Blake, William
6  1041  Blake, William
7  1042  Blake, William
8  1043  Blake, William
9  1044  Blake, William

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
dtypes: int64(1)
memory usage: 208.0 bytes

# Renaming variables

## Rationale

Why bother with renaming at all? The cost of renaming variables is that someone else who is familiar with the data will have to get familiar with your custom names when engaging with the data. The main benefit is that concise and consistent names can save lots of typing (most clearly but not exclusively in environments with poor or no code completion such as Jupyter notebooks). Renaming is worth in situations where the benefits exceed the cost (e.g. you're working alone, default naming is very poor and chaotic).

## Steps involved

- Decide on a convention and stick to it (I'm using lowercase underscore separated words)

- Convert to lowercase

- Replace non-alphanumeric with _

- Custom renaming

# Export